/* Default settings ================ */

* {
    padding: 0px;
    margin: 0px;
}

.div.wrap {
    width: 1438px;
    margin: 0 auto;
}

/* Header settings ================ */

.header-background {
    background: url(../img/header-background.png) center no-repeat;
    background-size: cover;
}

.header-container {
    margin: 0 auto;
    width: 66.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-logo {
    display: block;
    margin-top: 42px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #DADADA;
}

.header-title {
    padding-top: 319px;
    font-family: 'Open Sans';
    font-size: 8vh;
    text-transform: uppercase;
    color: #DADADA;
}

.header-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #DADADA;
}

.header-scrolldown {
    padding-top: 221px;
    margin-bottom: 54px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #DADADA;
}

.header-triangle {
    position: absolute;
    margin-top: 3.5px;
    margin-left: -8px;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #00A4E5
}

/* Navigation settings ================ */

.navigation {
    top: 0;
    left: 0;
    right: 0;
    background-color: #e2e2e2;
}

.navigation-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-logo {
    padding: .7em 0;
    font-size: calc(20px + 1vw);
    color: #333333;
}

.navigation-link {
    margin-left: 2em;
    text-decoration: none;  
    color: #333333;
}

.navigation-link:hover {
    transform: scale(1.2);
    color: #555555;
}

.navigation-line {
    border-bottom: 2px solid #E6E6E6;
}

.nav-container {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.navigation-nav {
    display: flex;
    margin-top: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.navigation-nav :hover {
    color: #00A4E5;
}

.navigation-logo {
    margin-top: 47px;
    margin-bottom: 25px;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    text-transform: uppercase;
    color: #1e292e;
}

.navigation-triangle {
    position: absolute;
    margin-top: 3px;
    margin-left: -4px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right: 7px solid #00A4E5;
}

/*  Burger =======
======================================*/

.menu-btn {
    position: fixed;
    z-index: 1;
    display: none;
    top: calc(50% - 14px);
    right: 10px;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

.menu-btn-burger {
    position: fixed;
    top: 20px;
    height: 3px;
    width: 30px;
    background-color: #000000;
}

.menu-btn-burger:before {
    content: '';
    position: absolute;
    top: -10px;
    height: 3px;
    width: 30px;
    background-color: #000000;
}

.menu-btn-burger:after {
    content: '';
    position: absolute;
    top: 10px;
    height: 3px;
    width: 30px;
    background-color: #000000;
}

/* About settings ================ */

.about-container-intro {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-title {
    margin-top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #48555B;
}

.about-line {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #00A4E5; 
}

.about-container-description {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-subtitle {
    margin-bottom: 10px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.about-text {
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #48555B;
}

.konstruct-blue {
    color: #00A4E5;
}

.plan {
    background: url(../img/image-plan.png) center;
    padding-left: 10px;
    margin: 5px 1px;
    width: 140px;
    height: 180px;
    background-size: cover;
}

.manage {
    background: url(../img/image-manage.png) center;
    padding-left: 10px;
    margin: 5px 1px;
    width: 140px;
    height: 180px;
    background-size: cover;
}

.build {
    background: url(../img/image-build.png) center;
    padding-left: 10px;
    margin: 5px 1px;
    width: 140px;
    height: 180px;
    background-size: cover;
}

.weplan {
    background: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
}

.wemanage {
    background: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
}

.webuild {
    background: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* About settings ================ */

.services-container {
    padding-top: 80px;
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serv-title {
    margin-top: 10px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #48555B;
}

.serv-line {
    width: 50px;
    margin: 10px 60px 0;
    border-bottom: 2px solid #00A4E5;
}

.serv-text {
    margin: 10px 8px;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #48555B;
}

.serv-form-button {
    margin-top: 10px;
    width: 140px;
    height: 31px;
    line-height: 18px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #FFFFFF;
    background-color: #00A4E5;
}

.services-body {
    width: 66.6%;
    margin: 60px auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-box {
    width: 280px;
    margin: 10px 3px;
    border: 2px solid #E6E6E6;
}

.structure-box {
    width: 280px;
    margin: 10px 3px;
    border: 2px solid #E6E6E6;
}

.factory-box {
    width: 280px;
    margin: 10px 3px;
    border: 2px solid #E6E6E6;
}

.project-image {
    background: url(../img/img-project.png) center;
    margin-top: 28px;
    margin-left: 15px;
    height: 80px;
    width: 70px;
    background-size: cover;
}

.structure-image {
    background: url(../img/img-structure.png) center;
    margin-top: 28px;
    margin-left: 15px;
    height: 80px;
    width: 70px;
    background-size: cover;
}

.factory-image {
    background: url(../img/img-factory.png) center;
    margin-top: 28px;
    margin-left: 15px;
    height: 80px;
    width: 70px;
    background-size: cover;
}

.project-title {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: #48555B;
    text-transform: uppercase;
}

.structure-title {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #48555B;
}

.factory-title {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #48555B;
}

.project-text {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 23px;
    color: #48555B;
}

.structure-text {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 23px;
    color: #48555B;
}

.factory-text {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 23px;
    color: #48555B;
}

/* In touch settings ================ */

.intouch-container {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.intouch-background {
    background: url(../img/intouch-background.png) center;
    background-size: cover;
}

.intouch-title {
    margin: 100px 0 30px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #48555B;
}

.intouch-button {
    margin: 0 0 150px;
    width: 150px;
    height: 31px;
    line-height: 18px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #FFFFFF;
    background-color: #00A4E5;
}

/* Newsletter settings ================ */

.newsletter-background {
    background-color:  #171819;
}

.newsletter-container {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.newsletter-title {
    margin: 25px 40px 25px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color:  #FFFFFF;
}

.newsletter-form {
    margin: 18px 80px 15px; 
}

.newsletter-input {
    width: 180px;
    height: 29px;
    border: none;
}

.newsletter-submit {
    width: 100px;
    height: 30px;
    font-family: 'Open Sans 700';
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    background-color: #00A4E5;
}

/* Footer settings ================ */

.footer-background {
    background-color: #141A20;
}

.footer-container {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.footer-company {
    margin: 32px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-size: 13px;
    list-style: none;   
}

.footer-logo {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #DADADA;
}

.footer-triangle {
    position: absolute;
    margin-top: 4px;
    margin-left: -4px;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 7px solid transparent; 
    border-right: 8px solid #00A4E5
}


.footer-title {
    font-family: 'Open Sans 400';
    font-style: normal;
    font-size: 13px;
    list-style: none;
    text-transform: uppercase;
}

.fa {
    margin: 8px 0;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-links {
    margin: 32px 0 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans 600';
    font-style: normal;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
}

.footer-faq {
    margin: 32px 0 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: 'Open Sans 600';
    font-style: normal;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
}

.footer-blog {
    margin: 32px 0 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: 'Open Sans 600';
    font-style: normal;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
}

.footer-contacts {
    margin: 32px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-size: 12px;
    list-style: none;
}

.footer-social {
    margin: 52px 0 40px;
    display: flex;
}

.fa.fa-twitter {
    margin: 8px;
}

/* Footer settings ================ */

.lower-footer-background {
    background: #171819;
}

.lower-footer-container {
    width: 66.6%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans 400';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.lower-footer-text {
    margin: 15px 0 15px;
}

/* ================================= */
